:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.75);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #ffd6d6;
}

/* MAIN APP */
.App {
  color: var(--black);
  background: linear-gradient(135deg,
      #fff8f0,
      #ffe5e5,
      #fff3e0 100%);

  min-height: 100vh;
  display: flex;


  font-family: 'Inter', sans-serif;

  overflow: auto;
}

/* DASHBOARD GRID */
.AppGlass {
  display: grid;
  min-height: 97vh;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;

  overflow: visible;
}

/* TABLET */
@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: auto;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
    overflow-y: auto;
  }
}

/* 🔥 KDS FULL SCREEN FIX */
.KDS-FULL {
  width: 100%;
  height: 100vh;
  background: #0b0b0b;
  overflow: auto;
}

.AppGlass.no-right {
  grid-template-columns: 11rem auto;
}

/* ===== ALL PAGE HEADINGS SAME ===== */

.page-container {
  padding: 25px 30px;
  width: 100%;
  min-height: 100vh;
}

/* ===== SAME BACKGROUND BOX FOR ALL ===== */
.page-box {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 30px 40px;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}

/* ===== ALL HEADINGS SAME ===== */
.page-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #3e2723;
  margin-bottom: 25px;
}